.form {
    padding: 20px;
}

.header {
    text-align: center;
    font-size: 40px;
    color: rgb(95, 63, 25);
}

.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px
}

.form__field {
    border: 2px solid rgba(121, 96, 47, 0.557);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
}

.form__button {
    width: 100%;
    border: none;
    background-color: rgba(135, 96, 48, 0.992);
    color: whitesmoke;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 25px;
}

.form__button:hover {
    background-color: hsla(33, 48%, 30%, 0.992);
}

.form__button:active {
    background-color: hsla(33, 48%, 20%, 0.992);
}
